.sourch {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.sourch .overlap-wrapper {
  background-color: #ffffff;
  height: 844px;
  overflow: hidden;
  width: 390px;
}

.sourch .overlap {
  height: 872px;
  left: -28px;
  position: relative;
  width: 452px;
}

.sourch .div {
  background-color: var(--backgorund);
  height: 744px;
  left: 28px;
  position: absolute;
  top: 34px;
  width: 390px;
}

.sourch .rectangle-2 {
  background-color: #000000b2;
  filter: blur(100px);
  height: 43px;
  left: 0;
  position: absolute;
  top: 16px;
  width: 446px;
}

.sourch .rectangle-3 {
  background-color: #000000b2;
  filter: blur(100px);
  height: 43px;
  left: 6px;
  position: absolute;
  top: 761px;
  width: 446px;
}

.sourch .group {
  height: 40px;
  left: 28px;
  position: absolute;
  top: 0;
  width: 392px;
}

.sourch .overlap-group {
  background-color: #d9d9d9;
  height: 40px;
  position: relative;
  width: 390px;
}

.sourch .text-wrapper {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 25px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
}

.sourch .group-2 {
  height: 22px;
  left: 297px;
  position: absolute;
  top: 10px;
  width: 68px;
}

.sourch .overlap-group-wrapper {
  height: 19px;
  left: 58px;
  position: absolute;
  top: 0;
  width: 10px;
}

.sourch .overlap-group-2 {
  height: 19px;
  position: relative;
}

.sourch .rectangle-1 {
  left: 0 !important;
  position: absolute !important;
  top: 2px !important;
}

.sourch .rectangle-4 {
  background-color: #000000;
  border-radius: 3px;
  height: 12px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 6px;
}

.sourch .group-3 {
  height: 20px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 45px;
}

.sourch .rectangle-5 {
  background-color: #000000;
  border-radius: 5px;
  height: 9px;
  left: 28px;
  position: absolute;
  top: 9px;
  width: 3px;
}

.sourch .rectangle-6 {
  background-color: #000000;
  border-radius: 5px;
  height: 13px;
  left: 34px;
  position: absolute;
  top: 5px;
  width: 4px;
}

.sourch .rectangle-7 {
  background-color: #000000;
  border-radius: 5px;
  height: 18px;
  left: 41px;
  position: absolute;
  top: 0;
  width: 4px;
}

.sourch .image {
  height: 20px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 20px;
}

.sourch .rectangle-8 {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 1px 4px #00000040;
  height: 48px;
  left: 65px;
  position: absolute;
  top: 320px;
  width: 315px;
}

.sourch .rectangle-9 {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 1px 4px #00000040;
  height: 48px;
  left: 65px;
  position: absolute;
  top: 405px;
  width: 315px;
}

.sourch .div-wrapper {
  height: 48px;
  left: 75px;
  position: absolute;
  top: 573px;
  width: 297px;
}

.sourch .overlap-2 {
  background-color: var(--login);
  border-radius: 22px;
  box-shadow: 0px 1px 4px #00000040, 0px 4px 4px #00000040;
  height: 48px;
  position: relative;
  width: 295px;
}

.sourch .text-wrapper-2 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 53px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 189px;
}

.sourch .text-wrapper-3 {
  color: #96aadd;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 161px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 295px;
}

.sourch .text-wrapper-4 {
  color: #d9d9d9;
  font-family: "Poppins", Helvetica;
  font-size: 30px;
  font-weight: 500;
  left: 113px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 146px;
}

.sourch .text-wrapper-5 {
  color: #96aadd;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 146px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 380px;
}

.sourch .rectangle-10 {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 1px 4px #00000040;
  height: 48px;
  left: 65px;
  position: absolute;
  top: 490px;
  width: 315px;
}

.sourch .text-wrapper-6 {
  color: #96aadd;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 202px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 465px;
}

.sourch .logo {
  height: 158px;
  left: 143px;
  position: absolute;
  top: 89px;
  width: 158px;
}

.sourch .group-4 {
  height: 94px;
  left: 0;
  position: absolute;
  top: 778px;
  width: 446px;
}

.sourch .overlap-3 {
  height: 94px;
  position: relative;
}

.sourch .rectangle-11 {
  background-color: var(--backgorund);
  height: 76px;
  left: 28px;
  position: absolute;
  top: 0;
  width: 390px;
}

.sourch .rectangle-12 {
  background-color: #000000b2;
  filter: blur(100px);
  height: 37px;
  left: 0;
  position: absolute;
  top: 57px;
  width: 446px;
}

.sourch .con-vazado {
  height: 35px;
  left: 208px;
  position: absolute;
  top: 793px;
  width: 35px;
}

.sourch .img {
  height: 34px;
  left: 127px;
  position: absolute;
  top: 797px;
  width: 36px;
}

.sourch .group-5 {
  height: 28px;
  left: 292px;
  position: absolute;
  top: 796px;
  width: 23px;
}

.sourch .vector {
  height: 27px;
  left: 53px;
  position: absolute;
  top: 797px;
  width: 29px;
}

.sourch .group-6 {
  height: 26px;
  left: 364px;
  position: absolute;
  top: 798px;
  width: 16px;
}

.sourch .logo-2 {
  height: 140px;
  left: 153px;
  position: absolute;
  top: 655px;
  width: 140px;
}

.sourch .group-7 {
  background-image: url(../../../static/img/line-4.png);
  background-size: 100% 100%;
  height: 20px;
  left: 213px;
  position: absolute;
  top: 334px;
  width: 1px;
}

.sourch .group-8 {
  height: 13px;
  left: 308px;
  position: absolute;
  top: 786px;
  width: 15px;
}

.sourch .overlap-4 {
  background-image: url(../../../static/img/ellipse-11.png);
  background-size: 100% 100%;
  height: 13px;
  position: relative;
  width: 13px;
}

.sourch .text-wrapper-7 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 800;
  left: 4px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}
